@import "components/functions";
@import "components/variables";
@import "components/mixin";
@import "main";

/* ===================
    ALL: Color Theme
   =================== */
body {
  background-color: $body-background-color;
}

.header-container {
    border-bottom: $header-footer-border;
}

.footer-container,
.main aside {
    border-top: $header-footer-border;
}

.header-container,
.footer-container,
.main aside {
    background: $header-background-color;
}

.title {
    color: white;
}
@each $section, $color in $section-colors {
  nav a[href="##{$section}"] {
    background-color: $color;
  }
  .#{$section} {
    .background-banner {
      background-color: $color;
    }
    button {
      background-color: $color;
    }
  }
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    article h1 {
        font-size: 2em;
    }
    aside {
        color: white;
        padding: 0px 5% 10px;
    }
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: $nav-text-color;
    //background: $nav-button-color;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: $nav-text-color;
      }
    }
}
/* =================
  SECTIONS/CARDS ALL
   =================*/
.card-container {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}
.card {
  @include drop-shadow($drop-shadow-low);
  background-color: $card-background-color;
  border: $card-border;
  border-radius: $card-border-radius;
  height: $card-height;
  margin: $card-margin;
  padding: $card-padding;
  width: $card-width;
  font-size: $card-paragraph-font-size;
  transition: $card-transition;
  position: relative;
  h3 {
    font-size: $card-title-font-size;
    transition: $card-transition;
    position: relative;
    margin-top: $h3-margin-top;
    z-index: $h3-z-index;
  }
  &:hover {
    font-size: $card-paragraph-font-size * $hover-transition-factor;
    height: $card-height * $hover-transition-factor;
    width: $card-width * $hover-transition-factor;
    @include drop-shadow($drop-shadow-up);
    h3 {
      font-size: $card-title-font-size * $hover-transition-factor;
    }
  }
}
//Card elements
  //Background banners
.background-banner {
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  height: $card-banner-height;
  width: $card-banner-width;
  position: $card-banner-position;
  top: $card-banner-top;
  left: 0;
  z-index: $card-banner-z;
}
  // Summary Text
  // Detailed description
  .card-description {
    // Substitute later with styles for display animation.
    display: none;
  }


/* ==========================================================================
   Media Queries
   ========================================================================== */

// TODO - This is the break point from HTML 5 boilerplate. How can we turn this into a variable and also make sure that it tracks what's in main.css?

@media only screen and (min-width: $media-break-intermediate) {

  header {
    h1 {
      margin: $nav-title-margin;
    }
  }

  nav {
    width: $nav-width;

    a {
      width: $nav-item-width;
      padding: $nav-item-padding;
      margin: $nav-item-margin;
    }
  }
}
