// Color Palette
$color-lightgreen: #cbe896; //rgba(203, 232, 150, 100) - Light green
$color-teal: #aac0aa; //rgba(170, 192, 170, 100) - Teal
$color-beige: #fcdfa6; //rgba(252, 223, 166, 100) - Beige
$color-palebrown: #a18276; //rgba(161, 130, 118, 100) - Pale Brown
$color-lightorange: #f4b886; //rgba(244, 184, 134, 100) - Light orange

// Body styles
$body-background-color: $color-beige;
$body-text-color: lighten(black, 5%);

// Screen size break points
$media-break-intermediate: 480px;
$media-break-wide: 768px;
$media-break-maximal: 1140px;

// Header variables
$header-footer-border: 20px solid $color-palebrown;
$header-background-color: $color-lightorange;
$title-text-color: white;

  // Nav menu vars
  $menu-items: 6;
  $nav-text-color: white;
  $nav-button-color: $color-palebrown;
  $nav-item-margin: 0 1rem 0 0;
  $nav-item-padding: .5rem;
  $nav-margin: 0 0 0 1rem;
  $nav-title-margin: 0.5rem 0.5rem 0.5rem 0;
  $nav-width: 100%;
  $nav-item-width: $nav-width / $menu-items;

// This variable is used for elements that change size on hover to dictate how great the change in size is
$hover-transition-factor: 1.03;

$drop-shadow-color: transparentize(black, .5);
$drop-shadow-low: dpToRem(2) dpToRem(2) 5px $drop-shadow-color;
$drop-shadow-up: dpToRem(8) dpToRem(8) 10px $drop-shadow-color;

// Section styles
$section-colors: (
  learning: darken($color-lightgreen, 10%),
  html: darken($color-teal, 10%),
  css: darken($color-beige, 10%),
  javascript: darken($color-lightorange, 10%),
  tools: lighten($color-palebrown, 10%)
);
$section-max-card-count: 5;
$section-card-z: 101; // Sets up z for directive giving each card in section descending z values

$card-background-color: lighten($color-beige, 10%);
$card-border: none;
$card-border-radius: dpToRem(4);
$card-height: 10rem;
$card-width: 10rem;
$card-margin: 1rem 1rem 1rem 0;
  $hover-trans-marg-delta-h: ($card-height * $hover-transition-factor) - $card-height;
  $hover-trans-marg-delta-w: ($card-width * $hover-transition-factor) - $card-width;
$card-open-margin: (1rem - ($hover-trans-marg-delta-h / 2)) (1rem  - $hover-trans-marg-delta-w) (1rem  - ($hover-trans-marg-delta-h / 2)) 0;;
$card-padding: 5px;
$card-z: 5;
$card-paragraph-font-size: 1rem;
// Card button
$card-button-border: dpToRem(3);
$card-button-padding: .25rem;
$card-button-position: ;
// Card title settings
$card-title-font: Arial, Helvetica, sans-serif;
$card-title-font-size: $card-paragraph-font-size * 1.5;
$card-title-color: black;
$card-title-top: 3%;
$card-title-left: 5%;
$card-title-z-index: 7;
// Transition settings for hover state changes
$card-transition: all 0.75s ease;
// Styles for colored card banner
$card-banner-height: 20%;
$card-banner-width: 100%;
$card-banner-position: absolute;
$card-banner-top: 0;
$card-banner-z: 5;
// Description card - hidden until show more button is clicked
$card-description-size-factor: 0.95;
$card-description-height: $card-height * $card-description-size-factor;
$card-description-width: $card-height * $card-description-size-factor;
$card-description-bradius: $card-border-radius;
$card-description-padding: $card-padding * $card-description-size-factor;
$card-desc-trans-delay: 0.15s;
$card-desc-trans-time: 0.3s;
$card-description-transition: top $card-desc-trans-time cubic-bezier(0.5, 0, 0.5,1) $card-desc-trans-delay;
$card-description-z: 3;
$card-desc-open-top: 100%;
